:root {
  --main-color: #f15a29;
  --secondary-color: #293c46;
  --white-text: #fff;
}

.cad-span-orange,
.cad-orange-color {
  color: var(--main-color);
}

.cad-btn-fill {
  padding: 15px 30px;
  background: var(--main-color);
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.cad-btn-fill i {
  margin-right: 10px;
}
.cad-submit-btn {
  width: auto;
  min-width: 100px;
  max-width: unset;
  height: auto;
  min-height: unset;
  max-height: unset;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  background-image: unset;
  line-height: 1.45em;
  text-align: center;
  background: #f15a29;
}
.cad-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.cad-header-line:after {
  display: block;
  content: "";
  background: #f15a29;
  width: 90px;
  height: 4px;
  margin-top: 15px !important;
  margin: 0 auto;
}
.cad-header-line-card:after {
  display: block;
  content: "";
  background: #f15a29;
  width: 55px;
  height: 2px;
  margin-top: 15px !important;
  margin: 0 auto;
}
.cad-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img/color_bond_fence_installation.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.cad-banner .cad-logo-header {
  width: 230px;
  height: auto;
  transition: all 0.3s ease;
}
.cad-menu-bar {
  padding: 17px;
  background: #f15a29;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 20px;
  display: none;
  cursor: pointer;
}
.cad-banner-content {
  position: relative;
  z-index: 2;
}
.cad-banner .cad-form-container {
  background: rgba(0, 0, 0, 0.4);
}
.cad-banner .cad-form-container iframe::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cad-banner .cad-form-container iframe::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cad-banner .cad-form-container iframe::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.cad-banner .cad-form-container iframe::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cad-banner-content img {
  width: 325px;
  height: auto;
}

.cad-mobile-nav a {
  color: #000;
}

.cad-mobile-nav.active {
  transform: translate(0px, 0px);
}
.cad-mobile-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: fixed;
  bottom: 0;
  z-index: 99;
  height: 100%;
  background: #293c46;
  width: 480px;
  transform: translate(-490px, 0px);
  transition: transform 0.3s ease;
}
.cad-main-nav {
  background-color: var(--secondary-color);
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.cad-main-nav .cad-main-menu li a {
  color: #fff;
  margin: 0px 10px;
  font-weight: bold;
}
.cad-main-nav .cad-main-menu li a.active {
  color: var(--main-color);
}
.cad-banner-container {
  height: auto;
}
.cad-main-nav .cad-btn-fill {
  margin-left: 50px;
}
.cad-item-container .cad-item h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.cad-item h3 {
  margin-bottom: 10px;
}

.cad-services-steps {
  padding: 75px 0px;
}
.cad-services-steps .cad-item {
  padding: 25px;
}
.cad-services-steps .cad-item i {
  background: var(--main-color);
  padding: 30px;
  color: #fff;
  border-radius: 50%;
  font-size: 36px;
  margin-bottom: 30px;
}

.cad-services-steps .cad-item i:hover {
  background: var(--secondary-color);
}
.cad-services-steps .cad-item h3 {
  margin-bottom: 10px;
  font-size: 24px;
}
.cad-wud {
  padding: 75px 0;
  background: linear-gradient(rgba(41, 60, 70, 0.9), rgba(41, 60, 70, 0.9)), url("../assets/img/color_bond_fence_installation.jpg");

  background-position: center;
  background-size: cover;
  min-height: 600px;
}
.cad-wud .cad-item-container .cad-item {
  padding: 25px;
  width: 28%;
  background: #fff;
  margin: 8px;
  border-radius: 25px;
  transition: 0.3s ease-in;
}
.cad-wud .cad-item-container .cad-item:hover {
  transform: translateY(-10px);
}
.cad-wud .cad-item-container .cad-item h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 100;
}
.cad-services-steps .cad-btn-container {
  margin: 25px 0px;
  text-align: center;
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
  height: 370px;
  margin-top: 35px;
}
.slick-dots li.slick-active button:before {
  color: #f15a29 !important;
}
.slick-dots li button:before {
  font-size: 10px !important;
  color: #f15a29 !important;
}
.cad-wud .cad-item i {
  padding: 30px;
  border-radius: 50%;
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--main-color);
  border: 1px solid #e2e6e7;
}

.cad-testimonials {
  background-color: #fafafa;
}

.cad-image-and-text .cad-image,
.cad-image-and-text .cad-content {
  flex: 1;
}
.cad-image-and-text .cad-content {
  padding: 0 110px;
}
.cad-cta {
  padding: 75px 0;
  background: linear-gradient(rgba(41, 60, 70, 0.9), rgba(41, 60, 70, 0.9)), url("../assets/img/color_bond_fence_installation.jpg");

  background-position: center;
  background-size: cover;
}
/* .cad-form-container iframe {
  background-color: #293c46;
} */
/* Basic styling for layout */
.cad-form-container .form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}
.cad-banner .cad-form-container {
  /* width: 870px; */
}
.cad-form-container .column {
  flex: 1;
  min-width: 250px;
}

.cad-form-container .full-width {
  width: 100%;
}
.cad-form-container label {
  text-align: left;
}
.cad-form-container label,
.cad-form-container input,
.cad-form-container textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
.cad-form-container h3 {
  font-size: 31px;
}
/***** This is where the fun happens *****/

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
}

/* Closed dropdown styles */
.dropdown {
  /* padding: 0.9em 1em; */
  cursor: pointer;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #d5d8dc;
}

.dropdown__content {
  max-height: 0;
  transition: 200ms;

  overflow: hidden;
  padding: 0 1rem;
}

/* Active Dropdown Styles */

.dropdown.active .dropdown__content {
  max-height: 100vh;
  padding: 1rem;
  transition: 400ms;
}

.footer-logo img {
  margin-bottom: 30px;
}

.footer-section {
  background-color: var(--secondary-color);
}
.footer-section .cad-container {
  border-bottom: 1px solid #fff;
  padding-bottom: 75px;
}
.footer-policy {
  padding: 25px 0px;
}
.footer-policy p {
  margin: 10px 0px;
}
.footer-section i {
  display: block;
  font-size: 48px;
}

@media (max-width: 1024px) {
  .cad-main-menu li {
    display: none;
  }
  .cad-form-container iframe {
    height: 810px;
  }
  .cad-banner .cad-form-container {
    /* margin-bottom: 50px; */
  }
  .cad-banner {
    min-height: 1406px;
  }

  .cad-menu-bar {
    display: inline-block;
  }
  .cad-banner-container {
    flex-direction: column;
  }
  .cad-services-steps .cad-item-container {
    flex-direction: column;
  }
  .cad-wud .cad-item-container .cad-item {
    width: 48%;
  }
  .cad-image-and-text .cad-content {
    padding: 0 30px;
  }
  .cad-form .cad-google-map-container {
    flex-direction: column;
  }
  .cad-google-map {
    width: 100%;
  }
  .cad-banner-content img {
    margin: 0 auto;
  }
  .cad-banner-content {
    text-align: center;
    padding-top: 130px;
  }
}
@media (max-width: 768px) {
  .cad-banner .cad-form-container {
    z-index: 9;
    width: 100%;
  }
  .cad-form .cad-form-container {
    padding: 20px;
    width: 100%;
  }
  .cad-menu-bar {
    display: inline-block;
  }
  .footer-number {
    margin: 30px 0px;
  }
  .cad-wud .cad-item-container .cad-item {
    width: 100%;
  }
  .cad-form .cad-form-container {
    padding: 20px;
  }
  .cad-image-and-text .cad-container {
    flex-direction: column;
    text-align: center;
  }
  .cad-image-and-text .cad-content {
    margin-top: 50px;
  }
  .footer-section .cad-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-logo img {
    margin-bottom: 30px;
    margin: 30px auto;
  }
}

@media (max-width: 585px) {
  .cad-main-nav .cad-btn-container .cad-btn-fill span {
    display: none;
  }
}
.eapps-google-reviews-463dedf6-4d45-443d-afad-d356a7abc8cd a {
  display: none !important;
}

/* // Finalizing CSS// */

/* Header */
.cad-banner .cad-logo-header {
  width: 204.281;
  height: 29.171;
}

.cad-main-nav .cad-main-menu li a {
  font-family: Helvetica, Sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.cad-container {
  max-width: 1140px !important;
  padding: 0px;
}

.cad-main-nav {
  padding: 0px !important;
}

a.cad-btn-fill {
  font-family: Helvetica, Sans-serif !important;
  font-weight: 900 !important;
  transition: all 0.3s ease;
}

.phone-icon {
  width: 16px !important;
  color: #fff !important;
}

.cad-btn-fill svg {
  height: 1em !important;
  color: #fff !important;
}

.cad-main-nav .cad-btn-fill {
  margin-left: 50px !important;
  display: flex !important;
  align-items: center !important;
  gap: 15px !important;
  line-height: 1 !important;
  font-size: 16px;
  padding: 17.5px 30px 20.5px 30px !important;
  border-radius: 5px !important;
  transition: all 0.3s ease-in-out !important ;
}

li.cad-menu-item {
  padding: 0px 15px;
}

.cad-main-nav .cad-main-menu li a {
  margin: 0px !important;
}

.cad-btn-container.cad-align-center {
  margin-left: 10.5px;
}
.cad-btn-fill {
  position: relative !important;
}

/* shine effect */
.cad-btn-fill:hover {
  transform: translateY(-3px);

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

/* Base styles for the button */
.cad-btn-fill {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* ::before pseudo-element for the shine effect */
.cad-btn-fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: -86%;
  width: 60%;
  height: 100%;
  transform: skewX(-45deg);
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}

/* Hover effect */
.cad-btn-fill:hover::before {
  left: 150%; /* Move to the far right */
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Ensures content like SVG stays above the shine */
.cad-btn-fill span,
.cad-btn-fill svg {
  position: relative;
  z-index: 2; /* Higher than the ::before shine */
}

/* Reverse effect when cursor leaves */
.cad-btn-fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 150%; /* Starts off-screen to the right */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.112); /* Slightly transparent white */
  transform: skewX(-45deg);
  z-index: 1;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* When the cursor leaves the button, reverse shine from right to left */
.cad-btn-fill:not(:hover)::after {
  left: -150%; /* Move off-screen to the left */
}

/* Ensures content like SVG stays above the shine */
.cad-btn-fill span,
.cad-btn-fill svg {
  position: relative;
  z-index: 2; /* Higher than the shine effect */
}

.cad-banner,
.cad-wud {
  background-attachment: fixed !important;
}

.cad-banner-container.cad-container.cad-flex.cad-justify-between.cad-align-center {
  max-width: 1547px !important;
}

.cad-form-container {
  width: 61.915% !important;
}

.cad-close-btn {
  position: absolute; /* Place it inside its containing element */
  top: 20px; /* 10px from the top */
  right: 12px; /* 10px from the right */
  width: 45px; /* Width of the button */
  height: 45px; /* Height of the button */
  background: #f15a29; /* White background for visibility */
  color: #fff; /* Black 'X' symbol */
  border: none; /* Remove border */
  font-size: 36px; /* Font size for the 'X' */
  cursor: pointer; /* Pointer cursor on hover */
  z-index: 1000; /* Ensure it’s above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

.cad-mobile-nav {
  padding-top: 110px !important;
  gap: 15px;
  background: #293c46d1 !important;
}

li.cad-mobile-menu-item a {
  color: #fff !important;
  font-weight: 600;
}

ul.cad-main-menu.cad-flex.cad-align-center {
  padding: 0px;
}

.cad-banner-container.cad-container.cad-flex.cad-justify-between.cad-align-center {
  padding-top: 238px;
  padding-bottom: 160px;
}

html {
  scroll-behavior: smooth;
}

.cad-main-nav-child {
  padding: 10px;
}

.cad-banner-content.cad-flex-2 {
  padding-left: 20px;
}
h1.cad-text-white {
  margin-bottom: 10px;
}

/* padding: 40px 20px 30px; */
.elementor-2572 .elementor-element.elementor-element-0525251 .elementskit-section-title-wraper .elementskit-section-title {
  margin: 0 0 15px;
  font-size: 25px !important;
  line-height: 40px;
}
.cad-form-container iframe {
  /* height: 800px !important; */
}

img.icon.icon-phone1 {
  background: #f15a29;
  border-radius: 50%;
  padding: 20px;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

img {
  display: inline;
}

img.icon.icon-why-choose-us {
  border-radius: 50%;
  padding: 0.5em;
  width: 112px;
  border: 1px solid #e2e6e7;
  height: 112px;
}

a.icon-footer {
  width: 100%;
  position: relative;
  display: block;
}

img.icon.icon-footer {
  width: 80px;
}

.cad-footer-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.cad-container.cad-flex.cad-align-center.cad-footer-flex {
  padding: 0px 0px 80px 0px;
}

a.cad-text-white {
  font-weight: 500;
  transition: ease 0.3s;
}

a.cad-text-white:hover {
  color: #1ac6ff;
}

footer.footer-section.cad-padding-75 {
  height: 46vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.footer-policy {
  padding: 25px 0px 0px 0px;
}

.cad-installation .cad-item p {
  text-wrap: auto;
  display: inline-block; /* Shrink-wrap the text */

  text-indent: -1ch; /* Moves text left, hiding leading space */
}

.cad-Installation-item {
  gap: 30px;
  padding: 25px;
  margin-top: 20px;
}
.cad-phone-installation {
  color: #000;
  font-weight: 400;
}

a.cad-btn-fill {
  padding: 14px 30px;
  border-radius: 5px;
}

.cad-services-steps .cad-btn-container {
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.cad-services-steps {
  padding: 75px 0px 80px 0px;
}

.cad-wud {
  background: linear-gradient(90deg, rgba(76, 106, 124, 1) 0%, rgba(41, 60, 70, 0.9) 60%), url(../assets/img/color_bond_fence_installation.jpg);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
}

.cad-wud .cad-item-container .cad-item {
  padding: 25px;
  width: 28%;
  background: #fff;
  margin: 8px;
  border-radius: 25px;
  transition: 0.3s ease-in;
  width: 100%;
}

h2.cad-header-line-card.cad-secondary-color {
  margin-top: 20px;
}
.cad-item-container.cad-flex.cad-flex-wrap.cad-justify-center {
  display: grid;

  gap: 20px;
}

a.cad-btn-fill.cad-why-choose-us {
  margin-top: 15px;
}

.responsive-map {
  width: 100%;
  height: 600px;
}

.cad-image-and-text .cad-content {
  padding: 0px 0px 0px 60px;
}
.cad-image-left {
  padding-left: 10px;
}

.cad-item-testimonials-container,
.cad-item-container.cad-flex.cad-flex-wrap.cad-justify-center {
  display: grid;
  gap: 20px;
  margin: 0px 10px;
}

.cad-footer-form {
  width: 100% !important;
}

.cad-footer-form iframe .ekit-heading__description {
  display: none !important;
}

/* faq */
/* Initially, hide the content of all dropdowns */
.dropdown__content {
  display: block; /* Content should be block for transitioning */
  max-height: 0; /* Start with no height */
  overflow: hidden; /* Hide the content while it's collapsed */
  padding: 0 1em; /* No padding initially */
  transition: max-height 0.3s ease-out, padding 0.3s ease-out; /* Transition max-height and padding */
}

/* Show content for the active dropdown */
.dropdown.active .dropdown__content {
  max-height: 1000px; /* Adjust this to a value large enough to fit your content */
  padding: 2rem 1em; /* Padding for the visible content */
}

/* Optional styling to show the active dropdown title as bold or different color */
.dropdown.active .dropdown__title {
  font-weight: bold;
  color: #ff6600; /* Adjust the color */
  padding: 1em 1em;
}

/* Make sure the entire dropdown box is clickable */
.dropdown {
  cursor: pointer; /* Make the entire dropdown clickable */
  border: 1px solid #ddd; /* Thin border for the entire dropdown container */
  border-radius: 4px; /* Rounded corners */
  margin-bottom: 10px; /* Space between dropdowns */
  transition: 0.3s ease-in-out; /* Smooth transition for dropdown container */
  background-color: #fff; /* Background for the whole dropdown box */
}

/* Title styling (no border-bottom here to avoid separating the title from the content) */
.dropdown__title {
  padding: 1em 1em;
  background-color: #fff; /* Background for the title */
  cursor: pointer; /* Make the entire title clickable */
}

/* Optional style to indicate hover */
.dropdown:hover {
  background-color: #fff;
}

/* Optional: Hover effect for title */
.dropdown__title:hover {
  background-color: #e7e7e7;
}

/* Optional: Styling for active dropdown title when clicked */
.dropdown.active .dropdown__title {
  background-color: #fff; /* Change the background color of the title when active */
  border-bottom: 1px solid #ddd;
}

.dropdown {
  border: 1px solid #ddd;
  border-radius: 0px;
  margin-bottom: 0px;
  transition: 0.3s ease-in-out;
}

section#faq {
  background: #fff;
}
.cad-wud .cad-item-container .cad-item {
  margin: 0px !important;
}

/* *************Responsive***************** */

@media (max-width: 1580px) {
  .cad-form-container {
    margin-right: 15px;
  }
}
@media (min-width: 1300px) and (max-width: 1614px) {
  /* Styles for large desktops */

  .cad-footer-form iframe {
    height: 766px !important;
  }
}

@media (max-width: 1299px) {
  .cad-form-container iframe {
    height: 770px;
  }
  .cad-banner-container.cad-container.cad-flex.cad-justify-between.cad-align-center {
    padding-top: 150px;
    padding-bottom: 160px;
  }
}
/* Extra large devices (large desktop screens) */
@media (max-width: 1199px) {
  /* Styles for large desktops */
  footer.footer-section.cad-padding-75 {
    padding: 0px 10px 0px 10px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1298px) {
  .cad-footer-form iframe {
    height: 768px !important;
  }
}

/* Extra large devices (large desktop screens) */
@media (min-width: 1025px) {
  /* Styles for large desktops */
  .cad-item-container.cad-flex.cad-flex-wrap.cad-justify-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .slick-dotted.slick-slider {
    height: 17vw;
  }
  .cad-btn-latest-projects {
    margin-top: 60px !important;
  }
}
/* Adjust height for 1024px screens */
@media (max-width: 1024px) {
  .responsive-map {
    height: 500px; /* Adjust height for 1024px screens */
  }
  .cad-image-left {
    padding-left: 0px !important;
  }
  /* Styles for larger tablets or smaller desktops */
  .cad-item-container.cad-flex.cad-flex-wrap.cad-justify-center {
    grid-template-columns: repeat(2, 1fr);
  }
  .slick-dotted.slick-slider {
    height: 35vw;
  }
  .cad-form-container {
    margin-right: 0px !important;
  }
  .cad-container {
    padding: 13.5px 30px;
  }
  .cad-banner-content {
    width: 100%;
  }
  a img.card-margin-top-20 {
    display: none;
  }
  .cad-banner .cad-form-container {
    height: 620px;
    width: 100% !important;
  }
  .cad-banner-content {
    text-align: center;
    padding-top: 0px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
  }
  .cad-mobile-nav {
    width: 350px;
  }
  ul.cad-mobile-nav.active {
    padding: 15px;
  }
  .cad-banner-container.cad-container.cad-flex.cad-justify-between.cad-align-center {
    padding-top: 138px !important;
    padding-bottom: 20px !important;
  }
  .cad-banner {
    min-height: 110vh;
  }
  .cad-banner-content.cad-flex-2 {
    padding-left: 0px !important;
  }
}
@media (max-width: 782px) {
  .cad-footer-form iframe {
    height: 783px !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .cad-footer-form iframe {
    height: 619px !important ;
  }
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
  /* Styles for tablets */
  h2.cad-secondary-color.cad-header-line {
    text-align: center;
    font-size: 30px;
  }
  .cad-item-container.cad-flex.cad-flex-wrap.cad-justify-center {
    grid-template-columns: 1fr !important;
  }
  .cad-wud .cad-item-container .cad-item {
    margin: 0px !important;
  }
  .slick-dotted.slick-slider {
    height: 65vw !important;
  }

  #projects p.cad-text-center {
    padding: 15px;
  }
  .cad-content.cad-about {
    padding: 0px !important;
  }
  h2.cad-text-white.cad-call-now {
    font-size: 30px;
    line-height: 36px;
  }
  .cad-padding-75,
  .cad-wud,
  .cad-services-steps {
    padding: 30px 0px !important;
  }
  .cad-gap-50 {
    gap: 0px !important;
  }
  .cad-services-steps .cad-btn-container {
    margin: 0px !important;
  }
  .cad-item-container.cad-flex.cad-Installation-item {
    gap: 0px;
    padding: 0px;
  }
  .cad-banner-p {
    margin-bottom: 10px !important;
  }
  h2.cad-secondary-color.cad-header-line {
    margin-bottom: 0px;
  }
  .responsive-map {
    height: 400px; /* Adjust height for 768px screens */
  }
  .footer-section .cad-container {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
  }
  footer.footer-section.cad-padding-75 {
    height: 62vh;
  }
}

.cad-installation {
  max-width: 1440px !important;
}

@media (max-width: 842px) {
  .cad-banner {
    min-height: 116vh;
  }
  .cad-banner .cad-form-container {
    height: 750px;
  }
  span.cad-span-orange {
    font-size: 45px;
    line-height: 24px;
  }
}

@media (max-width: 615px) {
  a.cad-btn-fill {
    font-size: 15px !important;
    transition: all 0.3s ease;
  }
  .cad-main-nav .cad-btn-fill {
    padding: 17.5px 25px 20.5px 25px !important;
  }
  .cad-banner .cad-logo-header {
    width: 178px !important;
    height: auto;
  }
  .cad-container {
    padding: 10.5px 15px !important;
  }
  .cad-banner {
    min-height: 120vh;
  }
  span.cad-span-orange {
    font-size: 35px;
    line-height: 25px;
  }
  h1.cad-text-white {
    margin-bottom: 10px;
    font-size: 35px;
  }
}

@media (max-width: 587px) {
  a.cad-btn-fill {
    /* font-size: 13px !important; */
  }
  .cad-main-nav .cad-btn-fill {
    padding: 17.5px 22px 20.5px 22px !important;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cad-banner {
    min-height: 114vh;
  }
}

@media (max-width: 585px) {
  .cad-btn-container.cad-align-center {
    margin-left: 10.5px;
    width: 128px;
  }
  ul.cad-main-menu.cad-flex.cad-align-center {
    padding: 0px !important;
  }
  .cad-btn-container.cad-align-center {
    margin-left: 0px;
    width: 110px;
  }

  .cad-banner .cad-logo-header {
    width: 180px !important;
    height: auto;
  }
  .cad-mobile-nav {
    width: 360px;
  }
}
@media (max-width: 509px) {
  .cad-banner {
    min-height: 110vh;
  }
  .cad-banner-container.cad-container.cad-flex.cad-justify-between.cad-align-center {
    padding-top: 100px !important;
  }
  .cad-form-container iframe {
    height: 783px !important;
  }
}
